# module_id module_type module_name
1           madc32       ADC1
2           madc32       ADC2
3           madc32       ADC3
4           madc32       ADC4
5           madc32       ADC5
6           madc32       ADC6
0xA         mqdc32       QDC
0xB         mtdc32       TDC1
0xC         mtdc32       TDC2
0xD         mtdc32       TDC3
