# ch_name ch_index
Si1               0
Si2               1
Ge1               2
Ge2               3
CommonOR          4
Trigger           5
GeOverlap1        6
GeOverlap2        7
Fwd_Outside       8
Fwd_Inside        9
Fwd_Up            10
Fwd_Down          11
Si1Rear_&&_FwdOut  12
Si2Rear_&&_FwdOut  13
Fwd1              16
Fwd2              17
Fwd3              18
Fwd4              19
Fwd5              20
Fwd6              21
Fwd7              22
Fwd8              23
Si1Rear           24
Si2Rear           25